.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    z-index: 20000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    user-select: none;
    background: linear-gradient(
            to bottom,
            #4c84d8 0%,
            #2c65c4 50%,
            #1c55b4 100%
    );
    border-top: 1px solid #78a2e5;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
}

.taskbar-start-button {
    width: 155px;
    height: 37.5px;
    margin-left: 0;
    padding-left: 6px;
    padding-right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    background: linear-gradient(
            to bottom,
            #86c449 0%,
            #6ab22c 50%,
            #599d1e 51%,
            #67ab2c 100%
    );
    border: 1px solid #1c4a04;
    border-top: 1px solid #a3d773;
    border-left: 1px solid #a3d773;
    border-radius: 0 18px 18px 0;
    box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

.start-button-text {
    color: #ffffff;
    font-family: 'Pixelated Tahoma', sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: -0.2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.taskbar-tasks-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0 4px;
}

.taskbar-task-btn {
    display: flex;
    align-items: center;
    height: 30px;
    min-width: 140px;
    max-width: 190px;
    padding: 0 10px;

    font-family: 'Pixelated Tahoma', sans-serif;
    font-size: 11px;
    color: white;
    
    background: linear-gradient(to bottom, #6a9cf5 0%, #4679d6 50%, #3665bc 100%);
    border: 1px solid #103a85;
    border-radius: 3px 3px 2px 2px;

    box-shadow:
            inset 0 1px 0 rgba(255, 255, 255, 0.45),
            0 1px 0 rgba(0, 0, 0, 0.1);

    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
}

.taskbar-task-btn.active {
    background: linear-gradient(to bottom, #2d5aa8 0%, #3e79d8 100%);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid #0a2656;
    transition: none;
    
}

.taskbar-task-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
}

.taskbar-task-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tray-expand-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #5ba3f8 0%, #1c6bdf 100%);
    border: 1px solid #104fa8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    padding: 0;
    margin-right: -10px;
    z-index: 10;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tray-expand-circle svg {
    width: 14px;
    height: 14px;
}


.taskbar-system-tray {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    padding: 0 16px 0 20px;
    box-sizing: border-box;


    background: linear-gradient(
            to bottom,
            #00a2ed 0%,
            #52cbff 8%,
            #29b4f4 18%,
            #0089db 60%,
            #0097ec 100%
    );
    border-left: 1px solid #006dae;
    box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.4);
}

.tray-social-links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tray-social-icon {
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
}

.tray-social-icon svg {
    width: 100%;
    height: 100%;
}

.system-tray-clock {
    color: #ffffff;
    font-family: 'Pixelated Tahoma', sans-serif;
    font-size: 11px;
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.window-preview-container {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 3px;
    width: 140px;
    background: #ece9d8;
    border: 3px solid #0058e6
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
    backdrop-filter:blur(2px)
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.4);
    z-index: 10000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    animation: peekSlideUp 0.18s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;}

@keyframes peekSlideUp {
    from {
        opacity: 0;
        transform: translate(-50%, 5px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.window-preview-header {
    background: linear-gradient(to right, #0058e6, #3a93ff);
    color: white;
    padding: 3px 6px;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #003c74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window-preview-content-wrapper {
    width: 100%;
    height: 78px;
    overflow: hidden;
    position: relative;
    background: white;
}
.window-preview-content {
    width: 900px;
    height: 500px;
    transform: scale(0.155);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    margin-bottom: -450px;
}