@import url('https://fonts.cdnfonts.com/css/pixelated-tahoma');

html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  max-width: none !important;
  box-sizing: border-box;
  overflow: hidden !important;
}

body {
  background-color: #222222;
}