
.desktop-environment {
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding: 12px 0 0 2px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.desktop-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2px;
    width: 100%;
    height: calc(100vh - 40px);
    padding: 0;
}