.desktop-shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 65px;
    height: 68px;
    padding: 2px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.desktop-shortcut.app-selected {
    outline: none;
}

.shortcut-icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 48px;
    max-height: 48px;
    pointer-events: none;
}

.shortcut-label {
    color: #ffffff;
    font-family: 'Pixelated Tahoma', sans-serif;
    font-size: 11px;
    pointer-events: none;
    text-align: center;
    line-height: 1.2;
    margin-top: 3px;
    padding: 1px 3px;
    box-sizing: border-box;
    width: max-content;
    max-width: 120px;
    white-space: nowrap;
    word-break: keep-all;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;
}

.desktop-shortcut.app-selected .shortcut-label {
    background-color: #0b61e2;
    color: #ffffff;
    text-shadow: none;
    display: inline-block;
}

.shortcut-icon-wrapper {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    
}

 .desktop-shortcut.app-selected .shortcut-icon-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b61e2;
    mix-blend-mode: color;
    opacity: 0.6;
    pointer-events: none;
     background-color: rgba(60, 120, 216, 0.2);
     border: 1px solid rgba(60, 120, 216, 0.6);
     border-radius: 3px;
}
 